{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="card-body bg-light text-dark p-3">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="card-body bg-light text-dark p-3">
        <p class="card-text">Forgot Password? <a href="{% url 'account_reset_password' %}" class="btn btn-success btn-sm">Reset Password</a></p>
    </div>
    <div class="card-body bg-light text-dark p-3">
        <p class="card-text">Don't have an account? <a href="{% url 'signup' %}" class="btn btn-success btn-sm">Sign Up</a></p>
    </div>
{% endblock content %}