{% extends '_base.html' %}
{% block title %}{{ note.title }}{% endblock title %}

{% block content %}
    <div class="card-body bg-light text-dark p-3">
        <h5 class="card-title mb-3">{{ note.title }}</h5>
        <p class="card-text">Author: {{note.user}}</p>
        <p class="card-text">{{ note.content }}</p>
    </div>
    <a href="{% url 'note-update' note.pk %}" class="btn btn-primary btn-sm mt-1 mx-2">Edit Note</a>
    <a><a href="{% url 'notes' %}" class="btn btn-primary btn-sm mt-1">Back</a>
{% endblock content %}