{% extends '_base.html' %}

{% block content %}
    {% for note in notes %}
        <div class="card">
            <div class="card-body bg-light text-dark p-3">
                <div>
                    <p><h5 class="card-title mb-3">Title : {{ note.title }}</h5>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-sm mt-1" href="{% url 'note-detail' note.pk %}">Read more</a></p>
                    {% else %}
                    <a class="btn btn-primary btn-sm mt-1" href="{% url 'login' %}">Read more</a></p>
                    {% endif %}
                </div>
                <p class="card-text fw-500">Author: <a href="{% url 'profile' note.user %}" class="text-decoration-none text-dark">{{ note.user }}</a></p>
                <p class="card-text text-muted fs-6">Created at: {{ note.created_at|date:"F d, Y" }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}