.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #343a40;
    color: #fff;
}
.header-content{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
}
.app-name{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.search-bar{
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #333;
}

.greeting{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}